src/main/data/manifest/manifest.rnc

# CollateX manifest (witness file information)
# @url can be local (absolute or relative, optional schema prefix) or remote
# Elements are in the established CollateX namespace with the established prefix
# Attributes are in no namespace
# Order of <witness> children determines vertical order in alignment ribbon
# See sample manifest for additional documentation

namespace xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
namespace cx = "http://interedition.eu/collatex/ns/1.0"

start = witnesses
witnesses = element cx:witnesses { witness+ }
witness = element cx:witness { siglum, color?, url }
siglum = attribute siglum { text }
color = attribute color { text }
url = attribute url { xsd:anyURI }
